@import "../../scssVariables.scss";
@import "../../mixins.scss";

.serviceCheckBox {
  display: flex;
  align-items: center;

  input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  h3 {
    color: $onPrimary-color;
    font-weight: 500;
  }
}
