@import "../../scssVariables.scss";
@import "../../mixins.scss";
.tables {
  padding: $padding-header;
  .table_name {
    @include tableName;
    margin-bottom: 1rem;
  }

  .tablesGate_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    // display: flex;
    // gap: 20px;
    // flex-wrap: wrap;
  }
}

@media (max-width: 1500px) {
  .tables {
    .table_name {
    }
    .tablesGate_wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: $tablets-breakpoint) {
  .tables {
    .table_name {
    }
    .tablesGate_wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 500px) {
  .tables {
    .table_name {
    }
    .tablesGate_wrapper {
      grid-template-columns: 1fr;
    }
  }
}
