@import "../../scssVariables.scss";
@import "../../mixins.scss";

.tableGate {
  background-color: $primary-color;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  cursor: pointer;
  .table_block_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .tableGate_icon {
      width: 80px;
      height: 80px;
      color: $warning-color;
    }
    h2 {
      font-size: 24px;
      font-weight: 500;
      color: $onPrimary-color;
    }
  }
}

@media (max-width: 1400px) {
  .tableGate {
    // width: 300px;
    height: 180px;
    .table_block_logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .tableGate_icon {
        width: 50px;
        height: 50px;
      }
      h2 {
        font-size: 18px;
        font-weight: 500;
        color: $onPrimary-color;
      }
    }
  }
}

// @media (max-width: 1012px) {
//   .tableGate {
//     width: 320px;
//     height: 230px;
//     .table_block_logo {
//       h2 {
//         font-size: 23px;
//         font-weight: 500;
//         color: $onPrimary-color;
//       }
//     }
//   }
// }

// @media (max-width: 953px) {
//   .tableGate {
//     width: 310px;
//     height: 180px;
//   }
// }
// @media (max-width: 912px) {
//   .tableGate {
//     width: 290px;
//     height: 180px;
//   }
// }

// @media (max-width: 1425px) {
//   .tableGate {
//     width: 330px;
//     height: 230px;
//     .table_block_logo {
//       .tableGate_icon {
//         width: 65px;
//         height: 65px;
//       }
//       h2 {
//         font-size: 22px;
//       }
//     }
//   }
// }
