@import "../../mixins.scss";
@import "../../scssVariables.scss";

.dashboard_wrapper {
  padding: $padding-header;

  .filter-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    gap: 10px;
    .radio-container {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      background-color: $primary-color;
      color: $onPrimary-color;
      border-radius: 10px;
    }
  }
  .dashboard_top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .dashboard_count {
      border-radius: 9px;
      padding: 30px 20px;
      background-color: $primary-color;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .dashboard_countLeft {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3 {
          font-weight: 600;
          color: $onPrimary-color;
        }
        p {
          font-weight: 700;
          font-size: 20px;
          color: $green-color;
        }
      }
      .dashboard_countIcon {
        width: 35px;
        height: 35px;
        color: $onPrimary-color;
      }
    }
  }

  .charts_wrapper {
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);

    .chart_wrapper {
      position: relative;
      height: 400px;

      h3 {
        position: absolute;
        top: 103%;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 500;
      }
      .chart {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }
}
