@import "../../mixins.scss";
@import "../../scssVariables.scss";

.employeeNameTag {
  padding: 10px 20px;
  background-color: $primary-color;
  color: $onPrimary-color;
  border-radius: 9px;
  text-align: center;
  position: relative;

  h4 {
    white-space: nowrap;
    text-transform: capitalize;
    font-weight: 500;
  }
  .employeeNameTag_removeIconWrapper {
    @include removeIconWrapper;

    .employeeNameTag_removeIcon {
      @include removeIcon;
    }
  }
}
