@import "../../scssVariables.scss";
.signaturePad_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 999;

  .signaturePad {
    width: 90%;
    height: 100vh;
    position: sticky;
    top: 0;
    margin: 0 auto;
    .signaturePad_inside {
      background-color: #ffffff;
    }
  }
  .signaturePad_buttonsWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: whitesmoke;
    height: 60px;
    .signaturePad_confirmBtn,
    .signaturePad_clearBtn,
    .signaturePad_closeBtn {
      flex: 0.2;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 9px;

      cursor: pointer;
      font-weight: 700;
      background-color: white;
      &:hover {
        background-color: $hover-color;
        color: white;
      }
    }

    .signaturePad_confirmBtn {
      background-color: $primary-color;
      color: white;
    }
    .signaturePad_clearBtn {
      background-color: $warning-color;
      color: black;
    }
  }
}
