@import "../../scssVariables.scss";
@import "../../mixins.scss";

.serviceStatusDetailService {
  padding: 20px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  // border: 0.3px solid black;
  background-color: whitesmoke;
  border-radius: 9px;
  .buttonsWrapper {
    display: flex;
    gap: 20px;
    .addItem_btn {
      width: 100%;
      padding: 15px 10px;
      border: none;
      background-color: $green-color;
      color: $onPrimary-color;
      border-radius: 9px;
      font-weight: 500;
      font-size: 15px;
      margin-top: 10px;
      &:hover {
        background-color: $hover-color;
        cursor: pointer;
      }
    }
  }

  .serviceStatusDetailService_wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    padding: 15px;
    justify-content: space-between;
    border-radius: 9px;

    .serviceStatusDetailService_left {
      display: flex;
      align-items: center;
      gap: 20px;
      flex: 1;

      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
      }

      h3 {
        font-weight: 600;
        color: $primary-color;
      }
    }
    .serviceStatusDetailService_right {
      display: flex;
      align-items: center;
      gap: 20px;

      input {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }

      .serviceStatusDetail_trashIcon {
        width: 30px;
        height: 30px;
        color: $primary-color;
      }
    }
  }
  .serviceDetailService_itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    gap: 15px;
    margin: 20px 0;
    .serviceDetailService_items {
      display: flex;
      gap: 15px;
      align-items: center;

      .itemTagWrapper {
        padding: 10px 20px;
        background-color: $primary-color;
        color: $onPrimary-color;
        border-radius: 9px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        gap: 15px;

        .itemMinusBtn,
        .itemsPlusBtn {
          border: none;
          border-radius: 100%;
          cursor: pointer;
          font-size: 25px;
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          color: $onPrimary-color;
          // box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
        }
        .itemMinusBtn {
          background-color: $error-color;
        }
        .itemsPlusBtn {
          background-color: $green-color;
        }

        p {
          white-space: nowrap;
          text-transform: capitalize;
          font-weight: 500;
        }
        .serviceDetailService_items_removeIconWrapper {
          @include removeIconWrapper;
          .serviceDetailService_items_removeIcon {
            @include removeIcon;
          }
        }
      }
    }
  }
}

@media (max-width: 710px) {
  .serviceStatusDetailService {
    .serviceDetailService_itemsWrapper {
      justify-content: center;
    }
  }
}
