@import "../../mixins.scss";
@import "../../scssVariables.scss";
.appNavSidebarWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.616);
  z-index: 999;

  .appNavSidebar {
    width: 500px;
    height: 100vh;
    background-color: $primary-color;
    margin-left: auto;
    position: sticky;
    top: 0;
    padding: 2rem 1rem;

    .appNavSidebar_header {
      text-align: center;
      font-weight: 700;
      color: $onPrimary-color;
    }

    .appNavServicesWrapper {
      width: 100%;
      height: 87%;
      margin: 1rem 0;
      overflow: scroll;
      cursor: pointer;
    }

    .appNavSidebar_makeServiceBtn {
      width: 100%;
      border: none;
      background-color: $onPrimary-color;
      border-radius: 9px;
      font-weight: 700;
      font-size: 22px;
      padding: 1rem;
      color: $primary-color;
      cursor: pointer;
    }
  }
}

@media (max-height: 700px) {
  .appNavSidebarWrapper {
    .appNavSidebar {
      .appNavServicesWrapper {
        width: 100%;
        height: 83%;
      }
      .appNavSidebar_makeServiceBtn {
      }
    }
  }
}
@media (max-width: 670px) {
  .appNavSidebarWrapper {
    .appNavSidebar {
      width: 400px;
    }
  }
}

@media (max-width: 500px) {
  .appNavSidebarWrapper {
    .appNavSidebar {
      width: 90%;
    }
  }
}
