@import "../../mixins.scss";
@import "../../scssVariables.scss";

.serviceDetail_wrapper {
  padding: $padding-header;

  h2 {
    @include tableName;
    margin-bottom: 1rem;
  }

  .service_wrapper {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
    .service_left {
      width: 400px;
      height: 250px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
        border-radius: 9px;
      }
    }

    .service_right {
      flex: 1;
      .service_detail_header {
        margin-bottom: 0.5rem;
        color: $primary-color;
        font-weight: 500;
      }
      .service_detail {
        color: $letter-color;
        line-height: 25px;
        text-align: justify;
        margin-bottom: 0.5rem;
        min-height: 150px;
      }

      button {
        height: 40px;
        padding: 0 1rem;
        border: none;
        background-color: $green-color;
        font-weight: 500;
        color: $onPrimary-color;
        border-radius: 9px;
        cursor: pointer;

        &:hover {
          background-color: $hover-color;
        }
      }
    }
  }
  .relatedItems_wrapper {
    margin-top: 3rem;
    .relatedItems_header_wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
      .table_searchInput {
        width: 350px;
        height: 40px;
        display: flex;
        align-items: center;
        border: 1px solid $primary-color;
        padding: 0 0.5rem;
        border-radius: 9px;
        margin-left: 1.5rem;
        .table_searchInputIcon {
          width: 1.2rem;
          height: 1.2rem;
          margin-right: 10px;
        }
        input {
          border: none;
          outline: none;
          color: $primary-color;
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }
    }
    .serviceRelatedItem_wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
    }
  }
}

@media screen and (min-width: 1022px) and (max-width: 1200px) {
  .serviceDetail_wrapper {
    .service_wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 1200px) {
  .serviceDetail_wrapper {
    .relatedItems_wrapper {
      .serviceRelatedItem_wrapper {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: 967px) {
  .serviceDetail_wrapper {
    .service_wrapper {
      flex-direction: column;
    }
  }
}

@media (max-width: 700px) {
  .serviceDetail_wrapper {
    .service_wrapper {
      .service_left {
        width: 100%;
      }
    }
    .relatedItems_wrapper {
      .serviceRelatedItem_wrapper {
        grid-template-columns: 1fr;
      }
    }
  }
}
