@import "../../mixins.scss";
@import "../../scssVariables.scss";

.addedService {
  width: 100%;
  min-height: 230px;
  background-color: $onPrimary-color;
  margin-bottom: 20px;
  border-radius: 9px;
  padding: 10px;
  position: relative;

  .addCustomerItem_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 9px;
    background-color: $onPrimary-color;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h3 {
      margin-bottom: 20px;
      font-size: 1.5rem;
      color: $primary-color;
      font-weight: 500;
    }

    .addCustomerItem_form {
      width: 90%;
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        width: 100%;
        padding: 14px 10px;
        outline: none;
        border: none;
        border: 0.5px solid $primary-color;
        border-radius: 9px;
      }

      .addCustomerItemButtons_wrapper {
        display: flex;
        gap: 20px;
        .canceclBtn,
        .addBtn {
          padding: 14px 0;
          width: 100%;
          border: none;
          background-color: $green-color;
          color: $onPrimary-color;
          font-weight: 600;
          cursor: pointer;
          border-radius: 9px;

          &:hover {
            background-color: $hover-color;
            color: black;
          }
        }

        .canceclBtn {
          background-color: $warning-color;
          color: black;
        }
      }
    }
  }

  .addedService_crossIcon {
    position: absolute;
    top: 10px;
    right: 10px;

    color: $primary-color;
    &:hover {
      color: $hover-color;
    }
  }
  .addedService_header {
    color: $primary-color;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
  }

  .addedService_serviceFeeWrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    .addedService_serviceFee_header {
      font-weight: 500;
      color: $primary-color;
    }
    .addedService_serviceFee {
      font-weight: 700;
      color: $primary-color;
      padding-right: 25px;
    }
  }

  .addedService_item_headerWrapper {
    display: flex;
    justify-content: space-between;

    .addService_addCusItemBtn {
      padding: 7px 10px;
      border: none;
      background-color: $green-color;
      color: $onPrimary-color;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  .addedItem_wrapper {
    min-height: 80px;
    // background-color: red;
  }
  .addedService_subtotalsWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
    .addedService_addMoreServiceBtn {
      padding: 7px 10px;
      border: none;
      background-color: $green-color;
      color: $onPrimary-color;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: $hover-color;
      }
    }
    .addedService_subtotals {
      color: $primary-color;
      padding-right: 25px;
      .addedService_subtotals_totals {
        font-weight: 700;
        padding-left: 10px;
      }
    }
  }
}
