@import "../../scssVariables.scss";
@import "../../mixins.scss";
.notiRow_wrapper {
  color: $onPrimary-color;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 9px;
  background-color: red;
  &:hover {
    background-color: $hover-color;
  }

  &.active {
    background-color: transparent;
  }
}
