@import "../../scssVariables.scss";
@import "../../mixins.scss";
.voucher_wrapper {
  padding: 10px;

  .voucher_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    .voucher_headerLeft {
      display: flex;
      align-items: center;
      gap: 10px;
      .voucher_image {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 9px;
      }
      .voucher_header {
        h3 {
          font-size: 45px;
          font-weight: 900;
        }
        p {
          font-size: 30px;
        }
      }
    }
    .voucher_headerRight {
      display: flex;
      flex-direction: column;
      gap: 10px;
      .phoneWrapper,
      .emailWrapper {
        h4 {
          width: 65px;
          padding: 5px;
          background-color: black;
          color: white;
        }
        p {
          margin-top: 5px;
          line-height: 20px;
        }
      }
    }
  }
  .voucher_table_infoWrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 50px;
    .voucher_table_invoiceWrapper {
      border: 1px solid black;
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      border-radius: 9px;
      .header {
        color: black;
        font-weight: 700;
        width: 170px;
      }
      .header_value {
        color: black;
        font-weight: 500;
      }
      .voucher_table_headerInfoTag {
        display: flex;
      }
    }
  }
  .serivce_info_wrapper {
    margin-top: 20px;
    .serivce_title_wrapper {
      display: flex;
      justify-content: space-between;
      margin: 15px 0px;
      .service_title {
        font-weight: 700;
      }
      .service_price {
        margin-right: 90px;
      }
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
      border-collapse: collapse;
    }

    td {
      background-color: whitesmoke;
    }
    th {
      color: black;
      font-weight: 900;
      font-size: 18px;
      background-color: $primary-color;
      color: $onPrimary-color;
    }

    .totals_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      h3 {
        margin-right: 20px;
        font-weight: 500;
        font-size: 25px;
        color: $primary-color;
      }
      p {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}
