@import "../../scssVariables.scss";
@import "../../mixins.scss";

.table {
  .popup_addBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: $green-color;
    width: 55px;
    height: 55px;
    cursor: pointer;
    visibility: hidden;
    border-radius: 100%;
    user-select: none;

    &:hover {
      .popup_addIcon {
        color: black;
      }
    }
    .popup_addIcon {
      @include icon($onPrimary-color);
    }
  }

  .table_name {
    @include tableName;
  }

  .table_searchWrapper {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      height: 40px;
      padding: 0 1rem;
      border: none;
      background-color: $green-color;
      font-weight: 500;
      color: $onPrimary-color;
      border-radius: 9px;
      cursor: pointer;
      margin-left: 20px;
    }

    .table_searchInput {
      width: 350px;
      height: 40px;
      display: flex;
      align-items: center;
      border: 1px solid $primary-color;
      padding: 0 0.5rem;
      border-radius: 9px;
      margin-left: 1.5rem;
      .table_searchInputIcon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 10px;
      }
      input {
        border: none;
        outline: none;
        color: $primary-color;
        width: 100%;
        height: 100%;
        background-color: transparent;
      }
    }
  }
  .scroll_container {
    cursor: scroll;
    overflow: scroll;
    height: 70vh;
    table {
      margin-top: 1rem;
      width: 100%;
      border-collapse: collapse;

      // border: 1px solid $primary-color;
      thead {
        background-color: $primary-color;
        // position: sticky;
        // top: 0;

        border-radius: 9px;
        tr {
          th {
            color: $onPrimary-color;
            font-size: 15px;
            font-weight: 400;
            padding: 10px;
            text-align: left;
            position: relative;
          }
        }
      }
      tbody {
        .link {
          text-decoration: none;
        }
        tr {
          &:hover {
            background-color: $hover-color;
            color: white;
          }
          cursor: pointer;
          td {
            img {
              width: 80px;
              height: 80px;
              object-fit: cover;
              border-radius: 100%;
            }
            padding: 10px;
            border-bottom: 1px solid black;
            text-align: left;
            font-size: 15px;

            .refund_btn,
            .refill_btn,
            .table_editBtn,
            .table_deleteBtn {
              height: 30px;
              padding: 0 1rem;
              border: none;
              border-radius: 9px;
              font-weight: 700;
              cursor: pointer;
              margin-right: 5px;
              // transition: 0.2s ease-in-out;
              user-select: none;
              width: 100px;

              &:hover {
                // transform: translateY(-10%);
                color: black;
              }
            }

            .table_editBtn {
              background-color: $warning-color;
              color: #826d05;
            }
            .table_deleteBtn {
              background-color: $error-color;
              color: #5b0010;
            }
            .refill_btn {
              background-color: violet;
              color: rgb(40, 40, 141);
            }
            .refund_btn {
              background-color: whitesmoke;
              color: rgb(102, 102, 102);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 892px) {
  .table_editBtn {
    margin-bottom: 10px;
  }
}

@media (max-width: $tablets-breakpoint) {
  .table_editBtn {
    margin-bottom: 0px;
  }
  .table {
    .popup_addBtn {
      visibility: visible;
    }
    .table_searchWrapper {
      flex-direction: column;
      .table_searchInput {
        width: 100%;
        margin-left: 0px;
      }
      button {
        display: none;
      }
    }

    .scroll_container {
      height: 90vh;
      table {
        overflow-y: auto;
        tr,
        td {
          display: block;
        }
        thead {
          display: none;
        }
        tbody {
          display: block;
          tr {
            border-left: 1px solid black;
            border-top: 1px solid black;
            border-right: 1px solid black;
            margin-bottom: 15px;
            td {
              text-align: right;
              position: relative;
            }

            td::before {
              content: attr(data-label);
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              padding-left: 10px;
              color: $primary-color;
              font-weight: 700;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

// @media (max-width: $mobiles-breakpoint) {
// }
