@import "../../mixins.scss";
@import "../../scssVariables.scss";

.createVoucherService_wrapper {
  margin: 10px 0;
  border-bottom: 1px solid black;
  padding: 20px 0;

  .serviceName_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h4 {
      text-transform: capitalize;
      font-size: 23px;
    }

    .input_wrapper {
      display: flex;

      input {
        padding: 8px 15px;
        min-width: 200px;
        outline: none;
        border: none;
        background-color: whitesmoke;
      }

      button {
        padding: 8px;
        border: none;
        background-color: $primary-color;
        color: $onPrimary-color;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          background-color: $hover-color;
        }
      }
    }
    .price_wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      &:hover {
        .edit {
          display: flex;
        }
      }
      .price {
        font-weight: 700;
        font-size: 20px;
        color: $primary-color;
        cursor: pointer;

        text-align: end;
      }
      .edit {
        display: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        color: $green-color;
      }
    }
  }
  .itm_wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    .itm_name {
      font-weight: 500;
      font-size: 18px;
      color: $onPrimaryLink-color;
    }

    .item_price_wrapper {
      display: flex;
      align-items: center;
      &:hover {
        .item_price_edit {
          display: flex;
        }
      }

      .item_price_edit {
        background-color: $green-color;
        padding: 5px 15px;
        border-radius: 9px;
        font-size: 15px;
        color: White;
        display: none;
        cursor: pointer;
      }

      .itm_price {
        font-weight: 700;
        font-size: 20px;
        color: $primary-color;
        cursor: pointer;
        width: 200px;
        text-align: end;
      }
    }
  }
  .subtotals_wrapper {
    display: flex;
    justify-content: flex-end;

    .subtotals {
      font-weight: 500;
      font-size: 18px;
      color: $onPrimaryLink-color;
      width: 250px;
      display: flex;
    }
    .subtotals_price {
      font-weight: 700;
      font-size: 20px;
      color: $primary-color;
      cursor: pointer;
      width: 200px;
      text-align: end;
    }
  }
}
