// Declaring variable in scss

// 320px — 480px: Mobile devices
// 481px — 768px: iPads, Tablets
// 769px — 1024px: Small screens, laptops
// 1025px — 1200px: Desktops, large screens
// 1201px and more —  Extra large screens, TV

$primary-color: #003566;
$onPrimary-color: #ffffff;
$onPrimaryLink-color: #464545;
$error-color: #d90429;
$warning-color: #ffd60a;
$green-color: #4ec670;
$hover-color: rgb(47, 161, 255);
$letter-color: #2a5175;
// paddings
$padding-header: 1rem;
// Breakpoints
$mobiles-breakpoint: 500px;
$tablets-breakpoint: 800px;
$laptops-breakpoint: 1024px;
$desktops-breakpoint: 1200px;
